# Configuration file

####################
# block
####################

block {
    I:"Air Blocks"=1140
    I:"Coral & Kelp"=1141
    I:"Custom Blocks"=1142
    I:"Custom Fence"=1143
    I:"Custom Flooring"=1144
    I:"Custom Gate"=1145
    I:"Custom Light"=1146
    I:"Custom RF Block"=1147
    I:"Custom Slabs Double"=1148
    I:"Custom Slabs Single"=1149
    I:"Custom Stairs"=1150
    I:"Custom Wall"=1151
    I:"Double Blocks"=1152
    I:"Fish Food"=1153
    I:"Fish Oil"=1154
    I:"Glass Blocks"=1155
    I:"High Pressure Water"=1156

    # Legacy Blocks, Kept for compatibility between v1.2+ and 1.13a-(Keep as zero if a new world, these WILL be removed in the future)
    I:"Legacy > Limestone Brick Stairs"=1180

    # Legacy Blocks, Kept for compatibility between v1.2+ and 1.13a-(Keep as zero if a new world, these WILL be removed in the future)
    I:"Legacy > Limestone Chiseled Stairs"=1181

    # Legacy Blocks, Kept for compatibility between v1.2+ and 1.13a-(Keep as zero if a new world, these WILL be removed in the future)
    I:"Legacy > Limestone Slabs Double"=1182

    # Legacy Blocks, Kept for compatibility between v1.2+ and 1.13a-(Keep as zero if a new world, these WILL be removed in the future)
    I:"Legacy > Limestone Slabs Single"=1183

    # Legacy Blocks, Kept for compatibility between v1.2+ and 1.13a-(Keep as zero if a new world, these WILL be removed in the future)
    I:"Legacy > Limestone Smooth Stairs"=1184

    # Legacy Blocks, Kept for compatibility between v1.2+ and 1.13a-(Keep as zero if a new world, these WILL be removed in the future)
    I:"Legacy > Limestone Stairs"=1157
    I:"Machine Blocks"=1158
    I:"Molten Aluminum"=1159
    I:"Molten Bronze"=1160
    I:"Molten Copper"=1161
    I:"Molten Glass"=1162
    I:"Molten Gold"=1163
    I:"Molten Impure Titanium"=1164
    I:"Molten Iron"=1165
    I:"Molten Lead"=1166
    I:"Molten Magnesium"=1167
    I:"Molten Nickel"=1168
    I:"Molten Silver"=1169
    I:"Molten Steel"=1170
    I:"Molten Tin"=1171
    I:"Molten Titanium"=1172
    I:"Neon Lamps Off"=1173
    I:"Neon Lamps On"=1174
    I:"Ore Blocks"=1175
    I:Oyster=1176
    I:"Pearl Bricks"=1177
    I:Sifter=1178
    I:"Single Blocks"=1179
}


####################
# enchantments
####################

enchantments {
    I:"1 Up"=70
    I:Blink=71
    I:"Fall Resistance"=72
    I:Inferno=73
    I:Leapfrog=74
    I:"Never Hungry"=75
    I:Paraglide=76
    I:"Poison Ivy"=77
    I:"Power Punch"=78
    I:Reaper=79
    I:Restoration=80
    I:"Sonic the Hedgehog"=81
    I:Spiderman=82
    I:Superman=83
    I:"The One Ring"=84
    I:Timelord=85
}


####################
# item
####################

item {
    I:"Aquatic Backpack T1"=29415
    I:"Aquatic Backpack T2"=29416
    I:Bait=29408
    I:"Basic Mirror"=29402
    I:Battery=29406
    I:Bracelets=29418
    I:"Celestial Mirror"=29404
    I:"Diving - Boots"=29423
    I:"Diving - Breathing Tube"=29421
    I:"Diving - Helmet"=29420
    I:"Diving - Suit"=29422
    I:FLUDD=29432
    I:"Fish - Living"=29412
    I:"Fish - Raw"=29413
    I:"Fishing Net"=29430
    I:"Fishing Rod - Reed"=29509
    I:"Fishing Rod - Titanium"=29511
    I:"Fishing Rod - Wood"=29510
    I:Food=29207
    I:"General Items"=29201
    I:"Liquid Containers"=29228
    I:"Magic Mirror"=29203
    I:Materials=29200
    I:Necklaces=29219
    I:Paintbrush=29233
    I:Pearls=29205
    I:Plans=29231
    I:Rings=29217
    I:"Scuba - Flippers"=29227
    I:"Scuba - Mask"=29224
    I:"Scuba - Tank"=29225
    I:"Scuba - Wetsuit"=29226
    I:"Speed Boat"=29214
    I:"TiC Titanium - Arrowhead"=29234
    I:"TiC Titanium - Axe Head"=29235
    I:"TiC Titanium - Binding"=29237
    I:"TiC Titanium - Broad Axe Head"=29249
    I:"TiC Titanium - Chisel Head"=29238
    I:"TiC Titanium - Crossbar"=29240
    I:"TiC Titanium - Excavator Head"=29241
    I:"TiC Titanium - Full Guard"=29243
    I:"TiC Titanium - Hammer Head"=29244
    I:"TiC Titanium - Hand Guard"=29250
    I:"TiC Titanium - Knife Blade"=29245
    I:"TiC Titanium - Large Plate"=29248
    I:"TiC Titanium - Large Sword Blade"=29247
    I:"TiC Titanium - Pan"=29242
    I:"TiC Titanium - Pickaxe Head"=29251
    I:"TiC Titanium - Scythe Head"=29252
    I:"TiC Titanium - Shard"=29239
    I:"TiC Titanium - Shovel Head"=29253
    I:"TiC Titanium - Sign Head"=29236
    I:"TiC Titanium - Sword Blade"=29254
    I:"TiC Titanium - Tool Rod"=29255
    I:"TiC Titanium - Tough Binding"=29256
    I:"TiC Titanium - Tough Rod"=29257
    I:"TiC Titanium - Wide Guard"=29246
    I:Upgrades=29229
}


