# Configuration file

####################
# block
####################

block {
    I:"Air Blocks"=1140
    I:"Coral & Kelp"=1141
    I:"Custom Blocks"=1142
    I:"Custom Fence"=1143
    I:"Custom Flooring"=1144
    I:"Custom Gate"=1145
    I:"Custom Light"=1146
    I:"Custom RF Block"=1147
    I:"Custom Slabs Double"=1148
    I:"Custom Slabs Single"=1149
    I:"Custom Stairs"=1150
    I:"Custom Wall"=1151
    I:"Double Blocks"=1152
    I:"Fish Food"=1153
    I:"Fish Oil"=1154
    I:"Glass Blocks"=1155
    I:"High Pressure Water"=1156

    # Legacy Blocks, Kept for compatibility between v1.2+ and 1.13a-(Keep as zero if a new world, these WILL be removed in the future)
    I:"Legacy > Limestone Brick Stairs"=1180

    # Legacy Blocks, Kept for compatibility between v1.2+ and 1.13a-(Keep as zero if a new world, these WILL be removed in the future)
    I:"Legacy > Limestone Chiseled Stairs"=1181

    # Legacy Blocks, Kept for compatibility between v1.2+ and 1.13a-(Keep as zero if a new world, these WILL be removed in the future)
    I:"Legacy > Limestone Slabs Double"=1182

    # Legacy Blocks, Kept for compatibility between v1.2+ and 1.13a-(Keep as zero if a new world, these WILL be removed in the future)
    I:"Legacy > Limestone Slabs Single"=1183

    # Legacy Blocks, Kept for compatibility between v1.2+ and 1.13a-(Keep as zero if a new world, these WILL be removed in the future)
    I:"Legacy > Limestone Smooth Stairs"=1184

    # Legacy Blocks, Kept for compatibility between v1.2+ and 1.13a-(Keep as zero if a new world, these WILL be removed in the future)
    I:"Legacy > Limestone Stairs"=1157
    I:"Machine Blocks"=1158
    I:"Molten Aluminum"=1159
    I:"Molten Bronze"=1160
    I:"Molten Copper"=1161
    I:"Molten Glass"=1162
    I:"Molten Gold"=1163
    I:"Molten Impure Titanium"=1164
    I:"Molten Iron"=1165
    I:"Molten Lead"=1166
    I:"Molten Magnesium"=1167
    I:"Molten Nickel"=1168
    I:"Molten Silver"=1169
    I:"Molten Steel"=1170
    I:"Molten Tin"=1171
    I:"Molten Titanium"=1172
    I:"Neon Lamps Off"=1173
    I:"Neon Lamps On"=1174
    I:"Ore Blocks"=1175
    I:Oyster=1176
    I:"Pearl Bricks"=1177
    I:Sifter=1178
    I:"Single Blocks"=1179
}


####################
# enchantments
####################

enchantments {
    I:"1 Up"=70
    I:Blink=71
    I:"Fall Resistance"=72
    I:Inferno=73
    I:Leapfrog=74
    I:"Never Hungry"=75
    I:Paraglide=76
    I:"Poison Ivy"=77
    I:"Power Punch"=78
    I:Reaper=79
    I:Restoration=80
    I:"Sonic the Hedgehog"=81
    I:Spiderman=82
    I:Superman=83
    I:"The One Ring"=84
    I:Timelord=85
}


####################
# item
####################

item {
    I:"Aquatic Backpack T1"=29015
    I:"Aquatic Backpack T2"=29016
    I:Bait=29008
    I:"Basic Mirror"=29002
    I:Battery=29006
    I:Bracelets=29018
    I:"Celestial Mirror"=29004
    I:"Diving - Boots"=29023
    I:"Diving - Breathing Tube"=29021
    I:"Diving - Helmet"=29020
    I:"Diving - Suit"=29022
    I:FLUDD=29032
    I:"Fish - Living"=29012
    I:"Fish - Raw"=29013
    I:"Fishing Net"=29030
    I:"Fishing Rod - Reed"=29009
    I:"Fishing Rod - Titanium"=29011
    I:"Fishing Rod - Wood"=29010
    I:Food=29007
    I:"General Items"=29001
    I:"Liquid Containers"=29028
    I:"Magic Mirror"=29003
    I:Materials=29000
    I:Necklaces=29019
    I:Paintbrush=29033
    I:Pearls=29005
    I:Plans=29031
    I:Rings=29017
    I:"Scuba - Flippers"=29027
    I:"Scuba - Mask"=29024
    I:"Scuba - Tank"=29025
    I:"Scuba - Wetsuit"=29026
    I:"Speed Boat"=29014
    I:"TiC Titanium - Arrowhead"=29034
    I:"TiC Titanium - Axe Head"=29035
    I:"TiC Titanium - Binding"=29037
    I:"TiC Titanium - Broad Axe Head"=29049
    I:"TiC Titanium - Chisel Head"=29038
    I:"TiC Titanium - Crossbar"=29040
    I:"TiC Titanium - Excavator Head"=29041
    I:"TiC Titanium - Full Guard"=29043
    I:"TiC Titanium - Hammer Head"=29044
    I:"TiC Titanium - Hand Guard"=29050
    I:"TiC Titanium - Knife Blade"=29045
    I:"TiC Titanium - Large Plate"=29048
    I:"TiC Titanium - Large Sword Blade"=29047
    I:"TiC Titanium - Pan"=29042
    I:"TiC Titanium - Pickaxe Head"=29051
    I:"TiC Titanium - Scythe Head"=29052
    I:"TiC Titanium - Shard"=29039
    I:"TiC Titanium - Shovel Head"=29053
    I:"TiC Titanium - Sign Head"=29036
    I:"TiC Titanium - Sword Blade"=29054
    I:"TiC Titanium - Tool Rod"=29055
    I:"TiC Titanium - Tough Binding"=29056
    I:"TiC Titanium - Tough Rod"=29057
    I:"TiC Titanium - Wide Guard"=29046
    I:Upgrades=29029
}


