# Configuration file

####################
# block
####################

block {
    I:Barrier=4040
    I:Bed=2412
    I:Block=4041
    I:Button=4042
    I:"Collapsible Block"=4084
    I:DaylightSensor=4043
    I:Door=2411
    I:Gate=4044
    I:Hatch=2305
    I:Ladder=2413
    I:Lever=4045
    I:PressurePlate=4046
    I:Slope=4047
    I:Stairs=4048
    I:Torch=4083
}


####################
# clientside
####################

clientside {
    B:enableDyeOnSideCovers=true
    B:enableOverlayOnSideCovers=true
    B:enablePatternOnSideCovers=true
}


####################
# control
####################

control {
    B:"Enable Barrier"=true
    B:"Enable Bed"=true
    B:"Enable Block/Slab"=true
    B:"Enable Button"=true
    B:"Enable Collapsible Block"=true
    B:"Enable Daylight Sensor"=true
    B:"Enable Door"=true
    B:"Enable Gate"=true
    B:"Enable Hatch"=true
    B:"Enable Ladder"=true
    B:"Enable Lever"=true
    B:"Enable Pressure Plate"=true
    B:"Enable Slope"=true
    B:"Enable Stairs"=true
    B:"Enable Torch"=true
    B:enableCoverRestrictions=false
}


####################
# features
####################

features {
    B:"Enable Chisel"=true
    B:"Enable Covers"=true
    B:"Enable Dye Colors"=true
    B:"Enable Fancy Fluids"=true
    B:"Enable Overlays"=true
    B:"Enable Side Covers"=true
}


####################
# item
####################

item {
    I:Bed=5404
    I:Chisel=5402
    I:Door=5403
    I:Hammer=5401
}


####################
# recipe quantities
####################

"recipe quantities" {
    I:Barrier=2
    I:Bed=1
    I:Block=5
    I:Button=1
    I:"Carpenter's Barrier"=2
    I:"Carpenter's Block"=5
    I:"Carpenter's Button"=1
    I:"Carpenter's Daylight Sensor"=1
    I:"Carpenter's Gate"=1
    I:"Carpenter's Hatch"=1
    I:"Carpenter's Lever"=1
    I:"Carpenter's Pressure Plate"=1
    I:"Carpenter's Slope"=4
    I:"Carpenter's Stairs"=4
    I:"Collapsible Block"=9
    I:"Daylight Sensor"=1
    I:Door=1
    I:Gate=1
    I:Hatch=1
    I:Ladder=4
    I:Lever=1
    I:"Pressure Plate"=1
    I:Slope=4
    I:Stairs=4
    I:Torch=6
}


####################
# rendering
####################

rendering {
    B:enableOptifineIntegration=true
    B:enableZFightingFix=false
}


####################
# slope
####################

slope {
    I:hitboxPrecision=2
}


####################
# tools
####################

tools {
    B:"Enable Chisel"=true
    B:"Tools Damageable"=true
}


