# Configuration file

####################
# clientonly
#===================
# These options are only important in the client version as they either have no function on servers or aren't really intended to be server-side.
####################

clientonly {
    B:persistentConnection=true
}


####################
# display
#===================
# These options determine how the chat is displayed and what gets sent / received to and from IRC.
####################

display {
    S:emoteColor=purple
    S:ircColor=gray
    B:relayDeathMessages=true
    B:relayIRCJoinLeave=true
    B:relayMinecraftJoinLeave=true
    B:relayNickChanges=true
    ####################
    # formats
    ####################

    formats {
        ####################
        # classic
        ####################

        classic {
            S:ircChannelEmote="* {NICK} {MESSAGE}"
            S:ircChannelMessage="<{NICK}> {MESSAGE}"
            S:ircPrivateEmote="* {NICK} {MESSAGE}"
            S:ircPrivateMessage="<{NICK}> {MESSAGE}"
            S:mcChannelEmote="[{CHANNEL}] * {NICK} {MESSAGE}"
            S:mcChannelMessage="[{CHANNEL}] <{NICK}> {MESSAGE}"
            S:mcPrivateEmote="[Private] * {NICK} {MESSAGE}"
            S:mcPrivateMessage="[Private] <{NICK}> {MESSAGE}"
            S:name="Classic"
        }

        ####################
        # light
        ####################

        light {
            S:ircChannelEmote="* {NICK} {MESSAGE}"
            S:ircChannelMessage="<{NICK}> {MESSAGE}"
            S:ircPrivateEmote="* {NICK} {MESSAGE}"
            S:ircPrivateMessage="<{NICK}> {MESSAGE}"
            S:mcChannelEmote="[ * {NICK} {MESSAGE} ]"
            S:mcChannelMessage="[ <{NICK}> {MESSAGE} ]"
            S:mcPrivateEmote="[[ {NICK} {MESSAGE} ]]"
            S:mcPrivateMessage="[ <{NICK}> {MESSAGE} ]"
            S:name="Light"
        }

        ####################
        # slight
        ####################

        slight {
            S:ircChannelEmote="* {NICK} {MESSAGE}"
            S:ircChannelMessage="<{NICK}> {MESSAGE}"
            S:ircPrivateEmote="* {NICK} {MESSAGE}"
            S:ircPrivateMessage="<{NICK}> {MESSAGE}"
            S:mcChannelEmote="[ * {NICK} {MESSAGE} ]"
            S:mcChannelMessage="[{NICK}] {MESSAGE}"
            S:mcPrivateEmote="[[ {NICK} {MESSAGE} ]]"
            S:mcPrivateMessage="[[{NICK}]] {MESSAGE}"
            S:name="S-Light"
        }

        ####################
        # minecraft
        ####################

        minecraft {
            S:ircChannelEmote="* {NICK} {MESSAGE}"
            S:ircChannelMessage="<{NICK}> {MESSAGE}"
            S:ircPrivateEmote="* {NICK} {MESSAGE}"
            S:ircPrivateMessage="<{NICK}> {MESSAGE}"
            S:mcChannelEmote="* {NICK} {MESSAGE}"
            S:mcChannelMessage="<{NICK}> {MESSAGE}"
            S:mcPrivateEmote="[P] * {NICK} {MESSAGE}"
            S:mcPrivateMessage="[P] <{NICK}> {MESSAGE}"
            S:name="Minecraft"
        }

        ####################
        # detail
        ####################

        detail {
            S:ircChannelEmote="* {NICK} {MESSAGE}"
            S:ircChannelMessage="<{NICK}> {MESSAGE}"
            S:ircPrivateEmote="* {NICK} {MESSAGE}"
            S:ircPrivateMessage="<{NICK}> {MESSAGE}"
            S:mcChannelEmote="[{SERVER}/{CHANNEL}] * {NICK} {MESSAGE}"
            S:mcChannelMessage="[{SERVER}/{CHANNEL}] <{NICK}> {MESSAGE}"
            S:mcPrivateEmote="[{SERVER}] * {NICK} {MESSAGE}"
            S:mcPrivateMessage="[{SERVER}]  <{NICK}> {MESSAGE}"
            S:name="Detail"
        }

        ####################
        # custom
        #===================
        # Use this one if you want to customize the way messages are displayed in minecraft / on IRC.
        ####################

        custom {
            S:ircChannelEmote="* {NICK} {MESSAGE}"
            S:ircChannelMessage="<{NICK}> {MESSAGE}"
            S:ircPrivateEmote="* {NICK} {MESSAGE}"
            S:ircPrivateMessage="<{NICK}> {MESSAGE}"
            S:mcChannelEmote="[{CHANNEL}] * {NICK} {MESSAGE}"
            S:mcChannelMessage="[{CHANNEL}] <{NICK}> {MESSAGE}"
            S:mcPrivateEmote="[Private] * {NICK} {MESSAGE}"
            S:mcPrivateMessage="[Private] <{NICK}> {MESSAGE}"
            S:name="Custom"
        }

    }

}


####################
# global
#===================
# These are settings that are applied on all servers and channels.
####################

global {
    B:allowPrivateMessages=true
    B:enableLinkFilter=true

    # Do not change this, it'll reset your config file.
    B:isNewConfigFormat=true
    S:nick=EiraBot8893
    B:registerShortCommands=true
    B:saveCredentials=false
}


####################
# serveronly
#===================
# These options are only important in the server version as they either have no function on clients or aren't really intended to be client-side.
####################

serveronly {
    S:colorBlackList <
        black
        darkgray
     >
    B:enableAliases=true
    B:enableNameColors=true
    B:interOp=false
    S:opColor=red
}


####################
# servers
#===================
# The following is a list of IRC server configs along with their channels.
####################

servers {
}


