# Configuration file

####################
# block
####################

block {
    I:"EU Adapter ID"=1367
    I:"Energy Pipe ID"=3426
    I:"Fluid Pipe ID"=3425
    I:"Ground Limestone ID"=1363
    I:"MJ Adapter ID"=1366
    I:"Painted Plank ID"=1362
    I:"Slickwater Block ID"=1364
    I:"Socket ID"=1360
    I:"Start Pipe ID"=1365
    I:"tempRS ID"=1361
}


####################
# general
####################

general {
    B:"Enable Centrifuge Module"=true
    B:"Enable Colour Blind Mode"=false
    B:"Enable Grinder Module"=true
    B:"Enable Husher"=true
    B:"Enable Hydroelectric Turbines"=true
    B:"Enable Kiln Module"=true
    B:"Enable Multi Smelter Module"=true
    B:"Enable Piezo Electric Tiles"=true
    B:"Enable Solar Panel Modules"=true
    B:"Enable Water Intake"=true
    B:"Hand boiler smelts sand"=false
}


####################
# item
####################

item {
    I:"Blank Module ID"=4171
    I:"Dusts ID"=4192
    I:"Hand Boiler ID"=4175
    I:"Module ID"=4170

    # This ID and the 15 following it will be taken up
    I:"Paint Can ID"=4176
    I:"RS Ingot ID"=4194
    I:"Redstone Wand ID"=4174
    I:"Remote ID"=4172
    I:"Slickwater Bucket ID"=4193
    I:"Wrench ID"=4173
}


