# Configuration file

####################
# block
####################

block {
    # ID for the Fluid Export Bus
    I:BusFluidExport_ID=505

    # ID for the Fluid Import Bus
    I:BusFluidImport_ID=504

    # ID for the Fluid Storage Bus
    I:BusFluidStorage_ID=506

    # ID for the ME Certus Tank
    I:CertusTank_ID=509

    # ID for the Fluid Transition Plance
    I:FluidTransitionPlane_ID=508

    # ID for the Blast Resistant ME Drive
    I:HardMEDrive_ID=503

    # ID for the ME Fluid Level Emitter
    I:LevelEmitterFluid_ID=511

    # ID for the ME Backup Battery
    I:MEBattery_ID=502

    # ID for the ME Item Dropper
    I:MEDropper_ID=501
    I:MonitorFluid_ID=507

    # ID for the soldering station
    I:SolderingStation_ID=500

    # ID for the Fluid Storage Terminal
    I:TerminalFluid_ID=507

    # ID for the Walrus
    I:Walrus_ID=510
}


####################
# dev options
####################

"dev options" {
    # Dont't activate if you dont want to debug stuff ;)
    B:showFluidsInMETerminal=false
}


####################
# item
####################

item {
    # ID for the advanced storage casing
    I:AdvancedStorageCasing_ID=31627
    I:"Advanced_Storage_Casing ID"=4144

    # ID for the decrypted storage cell
    I:Cell_Decrypted_ID=4143

    # ID for the encrypted storage cell
    I:Cell_Encrypted_ID=4142
    I:Cell_ID=4353

    # ID for the storage clusters (crafting)
    I:Cluster_ID=4354

    # ID for the item used for displaying fluids in the terminal and storing them in the ME Network
    I:FluidDisplayItem_ID=31626
    I:Fluid_Display_Item_ID=4145

    # ID for the fluid storage cells
    I:StorageFluid_ID=4146

    # ID for the physical storage cells
    I:StoragePhysical_ID=4140
}


