# Configuration file

####################
# block
####################

block {
    I:Arrows=4026
    I:Barrier=840
    I:"Barrier (Corner)"=841
    I:"Barrier (Post)"=839
    I:"Cat's Eye"=4035
    I:"Cat's Eye Side"=4034
    I:"Center Corners"=862
    I:Corners=4024
    I:"Diagonal Inverted"=4023
    I:Dirt=4016
    I:"Dirt, Corners"=4015
    I:"Double Yellows"=4025
    I:Fork=847
    I:"Fork B"=848
    I:"Fork C"=849
    I:"Fork D"=850
    I:"Fork E"=851
    I:"Fork F"=852
    I:"Fork G"=853
    I:"General Blocks"=4036
    I:"IMPORTANT: Do not remove! BG1"=844
    I:"IMPORTANT: Do not remove! BG2"=845
    I:"IMPORTANT: Do not remove! BG3"=846
    I:"IMPORTANT: Do not remove! BG4"=860
    I:"IMPORTANT: Do not remove! BG5"=861
    I:"Inner Corners"=873
    I:"Junction In"=4022
    I:"Junction Out"=4021
    I:"Kerb Block"=830
    I:"Letters 1"=863
    I:"Letters 10"=872
    I:"Letters 2"=864
    I:"Letters 3"=865
    I:"Letters 4"=866
    I:"Letters 5"=867
    I:"Letters 6"=868
    I:"Letters 7"=869
    I:"Letters 8"=870
    I:"Letters 9"=871
    I:"Light Bollard"=835
    I:Limestone=803
    I:"Misc Singles"=4020
    I:"Power Pole"=4032
    I:"Power Pole (On)"=4029
    I:"Power Pole Large"=4030
    I:"Power Pole Large (On)"=4027
    I:"Power Pole Small"=4031
    I:"Power Pole Small (On)"=4028
    I:"Road Barrier"=843
    I:"Road Barrier Up"=842
    I:"Road Painter"=832
    I:"Road Ramp 1"=854
    I:"Road Ramp 2"=855
    I:"Road Ramp 3"=856
    I:"Road Ramp 4"=857
    I:"Road Ramp 5"=858
    I:"Road Ramp 6"=859
    I:"Road Sign"=831
    I:"Sidewalk Grey"=4013
    I:"Sidewalk Light"=828
    I:"Sidewalk Sides"=4011
    I:"Sidewalk Tiled"=829
    I:"Sidewalk Tri-point"=4012
    I:"Simple Lines"=4019
    I:"Small White Stripes"=4018
    I:"Street Lamp 1"=836
    I:"Street Lamp 2"=837
    I:"Street Sign"=838
    I:Stripes=4017
    I:"Tar Flowing"=4033
    I:"Tar Still"=802
    I:"Traffic Light"=833
    I:"Traffic Light Hanging"=834
}


####################
# item
####################

item {
    I:"Blank Sign"=16709
    I:"Bucket of Tar"=16702
    I:Cement=16700
    I:"Cement Dust"=16701
    I:"Lime/Clay Dust"=16703
    I:"Limestone Dust"=16704
    I:"White Paint Blob"=16707
    I:"White Paint Can"=16705
    I:"Yellow Paint Blob"=16708
    I:"Yellow Paint Can"=16706
}


