# Configuration file

####################
# block
####################

block {
    # The id of the glasses bridge
    I:blockGlassesBridgeId=665

    # The id of the pim block
    I:blockPIMId=666

    # The id of the peripheral proxy
    I:blockPeripheralProxyId=667

    # The id of the sensor block
    I:blockSensorId=584

    # The id of the ticket machine block
    I:blockTicketMachineId=668
}


####################
# blocks
####################

blocks {
    # The id of the glasses bridge
    I:bridgeId=665

    # The id of the player inventory block
    I:playerInventoryId=666

    # The id of the proxy block
    I:proxyBlockId=667

    # The id of the robot block
    I:robotBlockId=585

    # The id of the sensor block
    I:sensorBlockId=584

    # The id of the player ticket machine
    I:ticketMachineId=668
}


####################
# general
####################

general {
    # The path to the cache file
    S:cacheFile=OpenPeripheral_methods.json

    # How often the cache file gets updated (in days)
    I:cacheInterval=7

    # How many cells are crafted per redstone? Use this to balance
    I:cellsPerRedstone=3

    # You do not need to change this
    I:currentVersion=0.2.1
    S:dataUrl=https://raw.github.com/mikeemoo/OpenPeripheral/master/methods_new.json
    B:enableAnalytics=true
    B:enabledExtendedInventory=true
    B:robotsEnabled=true
}


####################
# item
####################

item {
    # The id of the generic item
    I:itemGenericId=15191

    # The id of the glasses
    I:itemGlassesId=15189
}


####################
# items
####################

items {
    I:genericItemId=15191
    I:glassesId=15189
    I:remoteId=15190
    I:robotItemId=15201
}


####################
# misc
####################

misc {
    # Should turtles with OPA updates be visible in creative
    B:addTurtlesToCreative=true
}


####################
# sensor
####################

sensor {
    # 
    I:normalRange=5

    # 
    I:rangeInStorm=5
}


