# Configuration file

####################
# general
####################

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=536b2cd1-dd15-4bcd-9d69-1cf5b17f4132

    # Set to true to disable all reporting
    B:opt-out=false
}


