# Configuration file

####################
# alternative-recipes
####################

alternative-recipes {
    B:Player-Interface=true
}


####################
# alternative-settings
####################

alternative-settings {
    B:"Hard Player-Interface"=false
    B:brighterCraftingTexture=false
}


####################
# block
####################

block {
    I:"Auto Placer"=3009
    I:"Block Breaker"=3010
    I:"Block Detector"=4094
    I:"Block Teleporter"=3013
    I:"Ender Porter"=1770
    I:"Entity Detector"=3006
    I:"Fertilized Dirt"=3007
    I:"Fluid Display"=3012
    I:"Imbuing Station"=3014
    I:"Inventory Interface"=4091
    I:"Item Collector"=3000
    I:"Online Detector"=3005
    I:"Player Interface"=3001
    I:"Shock Absorber"=3008
}


####################
# blocks
####################

blocks {
    I:"Auto Placer"=3009
    I:"Block Breaker"=3010
    I:"Block Detector"=1302
    I:"Ender Porter"=1303
    I:"Entity Detector"=1304
    I:"Fertilized Dirt"=1305
    I:"Fluid Display"=3012
    I:"Inventory Interface"=1306
    I:"Item Collector"=1307
    I:"Online Detector"=1308
    I:"Player Interface"=1309
    I:"Shock Absorber"=3008
}


####################
# disable sounds
####################

"disable sounds" {
    B:"Cave Ambient"=false
    B:"Portal Ambient"=false
    B:Rain=false
    B:Villager-Hitsound=false
    B:Villager-Idle=false
}


####################
# disabled sounds
####################

"disabled sounds" {
    B:"Cave Ambient"=false
    B:"Portal Ambient"=false
    B:Rain=false
    B:Villager-Hitsound=false
    B:Villager-Idle=false
}


####################
# dungeon loots
#===================
# 1-100
# (1=Golden Apple,100 = Bread)
####################

"dungeon loots" {
    I:BlueStone-Chance=10
    I:FlaskPoison-Chance=2
    I:FlaskWeakness-Chance=2
    I:FlaskWithering-Chance=1
    I:NighStone-Chance=2
    I:WhiteStone-Chance=50
}


####################
# item
####################

item {
    I:"Block Mover"=7002
    I:"Block Replacer"=7008
    I:"Blue Stone"=7004
    I:"Crafting Items"=7010
    I:"Diamond Breaker"=7009
    I:"Entity Mover"=7007
    I:Filter=7011
    I:Flasks=7012
    I:"Magnetic Force"=7006
    I:"Night Stone"=7003
    I:"Portable Ender Porter"=7000
    I:"Target Card"=7005
    I:"White Stone"=7001
}


####################
# items
####################

items {
    I:"Block Mover"=7002
    I:"Block Replacer"=7008
    I:"Blue Stone"=7004
    I:"Crafting Items"=7010
    I:"Diamond Breaker"=7009
    I:"Entity Mover"=7007
    I:Filter=7011
    I:"Magnetic Force"=7006
    I:"Night Stone"=7003
    I:"Portable Ender Porter"=7000
    I:"White Stone"=7001
}


####################
# mod support
####################

"mod support" {
    B:Waila=true
}


####################
# options
####################

options {
    B:"Animated Textures"=true
    B:ColoredCrafting=false
    B:ColoredGlass=false

    # Adds ALL colors of Glass,Redstone Blocks and Redstone Lamps to the Creative Tabs and NEI
    B:ColoredInCreative=true
    B:ColoredLamps=false
    B:ColoredRedstoneBlocks=false
    D:Darkness-Level=1.0
    B:EditSigns=true
    B:"Hardcore Darkness"=false
    B:"More Craftingtables"=false
    B:Sounds=false
    I:WhiteStone-Chance=50
}


####################
# potions
####################

potions {
    I:ImbuePoison=33
    I:ImbueWeakness=34
    I:ImbueWither=35
}


####################
# vanilla changes
####################

"vanilla changes" {
    B:ColoredGlass=true
    B:ColoredLamps=true
    B:ColoredRedstoneBlocks=true
    B:EditSigns=true
    B:"Hardcore Darkness"=false
    B:MoreCraftingtables=false
    B:RandomBackgrounds=false
    B:SeasonalBackgrounds=true
}


