# Configuration file

####################
# balance
####################

balance {
    I:transmutator.aspectMultiplier=4
    B:transmutator.enable=true
    I:transmutator.maxValue=75
    I:transmutator.visMultiplier=2
    B:wandDislocation.pickupTiles=true
}


####################
# block
####################

block {
    I:animationTablet=2153
    I:darkGas=2158
    I:darkQuartz=2154
    I:darkQuartzSlab=2155
    I:darkQuartzSlabFull=2157
    I:darkQuartzStairs=2156
    I:glowstoneGas=2150
    I:"id_tile.ttinkerer:animationTablet"=2622
    I:"id_tile.ttinkerer:darkQuartz"=2615
    I:"id_tile.ttinkerer:darkQuartzSlab"=2616
    I:"id_tile.ttinkerer:darkQuartzSlabFull"=2617
    I:"id_tile.ttinkerer:darkQuartzStairs"=2618
    I:"id_tile.ttinkerer:enchanter"=2625
    I:"id_tile.ttinkerer:funnel"=2626
    I:"id_tile.ttinkerer:gaseousLight"=2620
    I:"id_tile.ttinkerer:gaseousShadow"=2621
    I:"id_tile.ttinkerer:interface"=2619
    I:"id_tile.ttinkerer:magnet"=2624
    I:"id_tile.ttinkerer:nitorGas"=2623
    I:interface=4070
    I:magnet=2161
    I:mobMagnet=4071
    I:nitorGas=2160
    I:phantomStone=2159
    I:transmutator=2151
    I:wardChest=2152
}


####################
# enchantments
####################

enchantments {
    I:ashes=218
    I:freezing=215
    I:"id_enchant.ttinkerer:ascentBoost"=220
    I:"id_enchant.ttinkerer:autoSmelt"=222
    I:"id_enchant.ttinkerer:desintegrate"=223
    I:"id_enchant.ttinkerer:quickDraw"=224
    I:"id_enchant.ttinkerer:slowFall"=221
    I:"id_enchant.ttinkerer:vampirism"=225
    I:soulbringer=216
    I:vampirism=217
}


####################
# item
####################

item {
    I:brightNitor=21173
    I:cleansingTalisman=21170
    I:connector=21180
    I:darkGas=21167
    I:darkQuartz=21158
    I:deathRune=21162
    I:dummyEnchantbook=21171
    I:enderMirror=21165
    I:fireBracelet=21157
    I:fluxDetector=21169
    I:fortuneMaul=21164
    I:gasRemover=21168
    I:glowstoneGas=21151
    I:goliathLegs=21166
    I:iceGlobe=21181
    I:"id_item.ttinkerer:brightNitor"=22159
    I:"id_item.ttinkerer:cleansingTalisman"=22158
    I:"id_item.ttinkerer:connector"=22151
    I:"id_item.ttinkerer:darkQuartz"=22150
    I:"id_item.ttinkerer:focusDislocation"=22157
    I:"id_item.ttinkerer:focusFlight"=22156
    I:"id_item.ttinkerer:focusHeal"=22164
    I:"id_item.ttinkerer:focusSmelt"=22163
    I:"id_item.ttinkerer:focusTelekinesis"=22160
    I:"id_item.ttinkerer:gasRemover"=22154
    I:"id_item.ttinkerer:gaseousLight"=22152
    I:"id_item.ttinkerer:gaseousShadow"=22153
    I:"id_item.ttinkerer:soulMould"=22161
    I:"id_item.ttinkerer:spellCloth"=22155
    I:"id_item.ttinkerer:xpTalisman"=22162
    I:lovePotion=21178
    I:nametag=21155
    I:rainwaterBottle=21176
    I:researchShareBook=21172
    I:rune=21174
    I:scythe=21175
    I:silkSword=21163
    I:soulMould=21179
    I:spellCloth=21152
    I:stopwatch=21153
    I:swordCondor=21161
    I:teleportSigil=21159
    I:wandDislocation=21154
    I:wandTinkerer=21150
    I:wandUprising=21160
    I:weatherCrystal=21177
    I:xpTalisman=21156
}


####################
# potions
####################

potions {
    I:frozen=22
    I:possessed=23
    I:stopwatch=21
}


